### Carga y exploraci√≤n inicial
- Carga el archivo CSV en un DataFrame.
- Usa head(), info() y describe() para conocer el contenido.

In [25]:
import pandas as pd
df = pd.read_csv('../data/manzanas.csv')  #Iportando datos con pandas
print("HEAD")
df.head() #Mostrando las primeras 5 columnas

HEAD

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness,Acidity,Quality
0,0,72.456908,225.980262,16.207798,6.493996,71.106940,5.098952,3.5016819034,good
1,1,77.729087,225.457190,15.198435,69.756663,70.511971,5.260259,3.4554381266000003,good
2,2,79.445155,227.837949,11.956943,6.828692,71.703181,4.988590,4.1243272946000005,bad
3,3,78.751328,226.365397,13.794924,6.951063,72.182782,3.975872,30.857761120346375,good
4,4,82.592012,227.925421,12.769205,6.723497,71.818525,4.608845,3.7003968072,good

In [26]:
print("INFO")
df.info() # Verificando la informacion general
print("DISCRIBE")
df.describe() #Estadisrticas basicas

INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   A_id         4000 non-null   int64
 1   Size         3880 non-null   float64
 2   Weight       3880 non-null   float64
 3   Sweetness    4000 non-null   float64
 4   Crunchiness  3880 non-null   float64
 5   Juiciness    4000 non-null   float64
 6   Ripeness     4000 non-null   float64
 7   Acidity      3881 non-null   object
 8   Quality      4000 non-null   object
dtypes: float64(6), int64(1), object(2)
memory usage: 281.4+ KB
DISCRIBE

,A_id,Size,Weight,Sweetness,Crunchiness,Juiciness,Ripeness
count,4000.000000,3880.000000,3880.000000,4000.000000,3880.000000,4000.000000,4000.000000
mean,1999.500000,94.515423,286.188355,12.717713,9.280662,70.307271,5.149483
std,1154.844867,87.595191,327.681811,1.166064,10.257560,1.158171,0.562328
min,0.000000,66.411764,218.560244,8.863309,3.972471,66.422862,3.240620
25%,999.750000,76.616864,226.867309,11.956945,7.052908,69.519229,4.768497
50%,1999.500000,79.152324,228.518195,12.697145,7.528237,70.320531,5.151033
75%,2999.250000,81.867842,230.267036,13.481153,7.995647,71.101586,5.529863
max,3999.000000,640.367782,2233.299942,16.824949,83.198105,74.418642,7.171351

### Informacion
- Contamos 9 columnas: Ai_id, Size, Weight, Sweetness, Crunchiess, Juiciness, Ripeness, Acidity, Quality.
- No se encuentran valores nulos
-